body {
  margin: 0;
  font-family: "Arial Rounded MT Bold", "Arial", sans-serif;
  background-color: #ffcb59;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.splash-screen {
  position: absolute;
  inset: 0; /* same as setting top, right, bottom, left to 0 */
  background-image: url("../assets/eggs-bg.jpg");
  background-size: cover;
  animation: fadeOutSplashScreen 5s forwards;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeOutSplashScreen {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.app {
  position: relative;
  z-index: 1;
  height: 100%;
  background-color: #ffcb59;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.app__title {
  text-align: center;
  font-size: 50px;
  margin: 0.5em 0;
  font-family: "Rammetto One", sans-serif;
}

.btn {
  display: block;
  margin: 1em auto;
  background-color: #ffcb59;
  font-size: 18px;
  color: #333 !important;
  text-decoration: none !important;
  border: 2px solid #333;
  border-radius: 2em;
  padding: 0.8em 2em;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}
.btn:link, .btn:visited, .btn:hover, .btn:focus, .btn:active {
  background-color: rgb(255, 187.0240963855, 38);
  outline: none;
  color: #333 !important;
  text-decoration: none !important;
}

.app__instruction-wrapper {
  background-color: #fff3c2;
  border-radius: 20px;
  padding: 1em;
  margin: 0 1em;
}

.app__instruction-subtitle {
  text-align: center;
  font-size: 30px;
  font-family: "Rammetto One", sans-serif;
}

ol {
  font-size: 23px;
  color: #333;
  line-height: 1.8;
  padding: 0 0.6em 0 2em;
}

.app__menu-wrapper {
  background-color: #fff3c2;
  border-radius: 20px;
  padding: 1em;
  margin: 0 1em;
}

.app__menu-subtitle {
  text-align: center;
  font-size: 23px;
  font-family: "Rammetto One", sans-serif;
  padding: 0 1em;
  margin-bottom: 1.5em;
}

.egg-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3em;
  margin-bottom: 3em;
  text-align: center;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  padding: 0 1em;
}

.app__timer-subtitle {
  text-align: center;
  font-size: 28px;
  font-family: "Rammetto One", sans-serif;
  margin: 2em 1em;
}

.app__countdown-timer {
  font-size: 60px;
  font-family: "Rammetto One", sans-serif;
  margin-top: 1em;
}

.egg-option {
  cursor: pointer;
}
.egg-option:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.app__timer-display {
  margin-top: 0.2em;
  text-align: center;
  font-size: 50px;
  font-family: "Rammetto One", sans-serif;
}

.start-over-btn {
  display: block;
  margin: 1em auto;
  background-color: #fff3c2;
  font-size: 18px;
  color: #333 !important;
  text-decoration: none !important;
  border: 2px solid #333;
  border-radius: 2em;
  padding: 0.8em 2em;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}
.start-over-btn:link, .start-over-btn:visited, .start-over-btn:hover, .start-over-btn:focus, .start-over-btn:active {
  background-color: rgb(255, 232.9672131148, 143);
  outline: none;
  color: #333 !important;
  text-decoration: none !important;
}