@import "variables";


// ----- * BODY * ----- //
body {
  margin: 0;
  font-family: $font-body;
  background-color: $body-bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

// ----- * APP CONTAINER * ----- //
.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

// ----- * SPLASH SCREEN * ----- //
.splash-screen {
  position: absolute;
  inset: 0; /* same as setting top, right, bottom, left to 0 */
  background-image: url("../assets/eggs-bg.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeOutSplashScreen 5s forwards;
  z-index: 2;
}

@keyframes fadeOutSplashScreen {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

// ----- * APP Container * ----- //
.app {
  position: relative;
  z-index: 1;
  height: 100%;
  background-color: $body-bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.app__title {
  text-align: center;
  color: black;
  font-size: 35px;
  margin-bottom: 30px;
  font-family: $font-title;
}

.btn {
  display: block;
  margin: 25px auto 0;
  background-color: $body-bg-color;
  border: 2px solid #333;
  border-radius: 12px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease-in-out;

  &:hover {
    background-color: darken($body-bg-color, 10%);
  }
}

.hidden {
  display: none;
}


// ----- * INSTRUCTION PAGE * ----- //
.app__instruction-wrapper {
  background-color: $app-bg-color;
  width: 80%;
  border-radius: 20px;
  padding: 1em;
}

.app__instruction-subtitle {
  text-align: center;
  font-size: 25px;
  font-family: $font-title;
}

ol {
  font-size: 16px;
  color: $text-color;
  line-height: 1.6;
  padding-left: 20px;
}

// ----- * MENU PAGE * ----- //
.app__menu-wrapper {
  background-color: $app-bg-color;
  width: 100%;
  border-radius: 20px;
  padding: 1rem;
}

.app__menu-subtitle {
  text-align: center;
  font-size: 18px;
  font-family: $font-title;
  margin-bottom: 20px;
}

.egg-menu-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  text-align: center;
  color: $text-color;
  font-size: 14px;
  font-weight: bold;
  
}

